@font-face {
  font-family: "Google Sans";
  src: url("GoogleSans-Regular.ttf");
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  --font-color: 255, 255, 255;
  --background-opacity: 0.4;

  --dark: 17, 17, 17;
  --dark-highlight: 30, 30, 30;
  --gray-dark: 50, 50, 50;
  --gray: 100, 100, 100;
  --gray-light: 150, 150, 150;
  --close-app-red: 232, 17, 35;
  --track-color: 91, 91, 91;
  --track-btn-on: 238, 69, 69;
  --track-text-color: black;

  --menu-width: 12rem;

  color: rgb(var(--font-color));
  background-color: rgba(var(--dark), var(--background-opacity));

  user-select: none;
  font-family: "Google Sans";
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

hr {
  border: none;
  outline: none;
  border-bottom: solid 1px rgb(var(--gray-dark));
  width: 100%;
}

button,
input {
  outline: none;
  border: none;
}

input[type="text"],
input[type="number"] {
  background-color: transparent;
  color: rgb(var(--font-color));
  border-bottom: solid 1px rgb(var(--gray-dark));
  transition: 0.2s background-color;
  font-family: "Google Sans";
  padding: 0.3rem;

  font-size: 110%;
}

input[type="text"]:focus,
input[type="number"]:focus {
  background-color: rgba(var(--dark), var(--background-opacity));
}

.frame {
  width: 100%;
  background-color: rgba(var(--dark), var(--background-opacity));
  display: flex;
  justify-content: end;
  align-items: center;
  -webkit-app-region: drag;
  border-bottom: solid 1px rgb(var(--gray-dark));

  .left,
  .right {
    display: flex;
    width: 100%;
  }

  .left {
    justify-content: start;
  }

  .right {
    justify-content: end;
  }

  button {
    aspect-ratio: 1;
    height: 3rem;
    color: rgb(var(--font-color));
    font-size: 100%;
    transition: 0.2s background-color;
    background-color: transparent;
    -webkit-app-region: no-drag;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    background-color: rgb(var(--dark-highlight));
  }

  button.close:hover {
    background-color: rgb(var(--close-app-red));
  }
}

main {
  width: 100%;
  flex: 1;
  display: flex;

  .area {
    padding: 4%;
    flex: 1;

    h3 {
      font-weight: normal;
      display: flex;
      align-self: center;
      gap: 2%;
      font-size: 130%;
    }
  }
}

menu.hide {
  margin-left: calc((var(--menu-width) + 1px) * -1);
}

menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--menu-width);
  background-color: rgba(var(--dark), var(--background-opacity));
  top: calc(3rem + 1px);
  padding: 0;
  margin: 0;
  margin-left: 0;
  border-right: solid 1px rgb(var(--gray-dark));
  transition: 0.1s margin-left;

  button {
    aspect-ratio: 1;
    height: 3rem;
    color: rgb(var(--gray-light));
    font-size: 100%;
    transition:
      0.2s background-color,
      0.2s padding-left;
    background-color: transparent;
    -webkit-app-region: no-drag;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8%;
    gap: 4%;
  }

  button:hover {
    background-color: rgb(var(--dark-highlight));
    padding-left: 12%;
  }

  .top,
  .bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .top {
    justify-content: start;
  }

  .bottom {
    justify-content: end;
  }
}

.settings-item {
  display: flex;
  padding: 0.2rem 1%;
  height: 3rem;
  gap: 3rem;
  color: rgb(var(--gray-light));

  label {
    font-weight: lighter;
    font-size: 120%;
    display: flex;
    align-items: center;
    padding: 0.3rem;
  }
}

.click {
  cursor: pointer;
}

.console {
  display: flex;
  flex: 1;

  .col {
    height: 100%;
    width: 100%;
    gap: 1px;
  }

  .tracks {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1px;
  }
}

.track {
  width: 100%;
  min-height: 1rem;
  max-height: 20%;
  background-color: rgb(var(--track-color));
  padding: 0.4rem 0.6rem;
  display: flex;
  justify-content: center;
  font-family: "system-ui";
  font-weight: lighter;
  box-sizing: border-box;
  gap: 0.6rem;

  .number {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    border-right: solid 1px var(--track-text-color);
    color: var(--track-text-color);
  }

  .trackname {
    border-radius: 100px;
    background-color: rgb(var(--dark-highlight));
    padding: 0.6rem 0.8rem;
    font-size: 80%;
    flex: 1;
    gap: 1rem;
    display: flex;
    align-items: center;

    button {
      padding: 0;
      border-radius: 100%;
      aspect-ratio: 1;
      height: 50%;
      background-color: transparent;
      box-shadow: 0 0 0 0.2rem rgb(var(--gray-light));
      filter: brightness(100%);
    }

    button.on {
      box-shadow: 0 0 0 0.2rem rgb(var(--track-btn-on));
    }

    button:hover {
      filter: brightness(140%);
    }

    .tracklabel {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
      flex: 1;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
}
